html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
  color: #fff;
  min-height: 100vh;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.header-heading {
  text-align: center;
  color: #fff;
}

.movies-search-input {
  width: 500px;
}

.search-results {
  width: 50%;
}

.movie-about {
  width: 48%;
}

.movie-title {
  font-size: 20px;
}
